<hgroup class="mb-12 flex items-center justify-between">
  <h1 class="font-bold text-4xl mb-4 flex items-center gap-4">Directory</h1>
  <% if Current.user.present? %>
    <%= link_to "Add entry", new_entry_path, class: button_classes(type: :primary) %>
  <% end %>
</hgroup>

<div id="entries">
  <% if @entries.any? %>
    <%= render @entries %>
  <% else %>
    <div class="flex items-center justify-center gap-2">
      <span class="text-2xl">No entries yet&hellip; Want to be the first? <%= link_to "Add your entry", new_entry_path, class: "text-blue-500 decoration-blue-500 hover:underline" %></span>
    </div>
  <% end %>
</div>
