<div id="<%= dom_id user %>" class="flex items-center gap-4">
  <%= image_tag user_avatar_url(user, size: 48), class: 'w-12 h-12 rounded-full' %>
  <code class="text-2xl text-black group-hover:text-blue-500 group-hover:underline decoration-blue-500">
    <%= user.github_username %>
  </code>
</div>
